Type=Link
Name=Lubuntu Manual
Exec=firefox file::////snap/lubuntu-manual/x1/build/html
Url=file:///snap/lubuntu-manual/current/build/html
Icon=///snap/lubuntu/manual64.png
